name: router_2 workflow

on:
  push:
    branches:
      - main
    paths:
      - 'config_file_router_2'
  issues:
    types:
      - labeled
  workflow_dispatch:

env:
  REPO_PATH: /home/siteadmin/actions-runner/network-automation-github-actions

jobs:
  deploy:
    runs-on: [self-hosted, linux]
    if: github.event_name == 'push' || (github.event_name == 'issues' && github.event.label.name == 'router_2')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Pull latest changes and run the 'router_2' script
        env:
          AUTH_TOKEN: ${{ secrets.API_AUTH_TOKEN }}
        run: |
          git pull
          ./_router_2.sh
        working-directory: ${{ env.REPO_PATH }}
